* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Merriweather-Italic';
    src: url('assets/fonts/Merriweather-Italic.ttf');
}

@font-face {
    font-family: 'Merriweather-BlackItalic';
    src: url('assets/fonts/Merriweather-BlackItalic.ttf');
}

@font-face {
    font-family: 'Merriweather-BoldItalic';
    src: url('assets/fonts/Merriweather-BoldItalic.ttf');
}

body {

    background: black;
    font-family: 'Merriweather-Italic.ttf', sans-serif;
    box-sizing: border-box;
}

.background-fon {
    position: absolute; /* Фиксированное позиционирование */
    top: 50px;
    left: 25px;
    width: 100%; /* Растягиваем на всю ширину */
    height: auto; /* Растягиваем на всю высоту */
    z-index: -10000; /* Отправляем на задний план */
}

.background-fon img {
    position: fixed;
    width: 97%; /* Растягиваем изображение на всю ширину */
    height: auto; /* Растягиваем изображение на всю высоту */
    object-fit: cover; /* Сохраняем пропорции и заполняем весь контейнер */


    opacity: 45%;
}

.header {
    padding: 10px 20px;
    position: inherit;
    top: 0;
    z-index: 1000;

}

.menu-container {
    display: flex;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
    justify-content: center; /* Центрируем элементы по горизонтали */
}

.logo img {
    position: absolute;
    width: 90px;
    height: auto;
    margin: 10px 0 0 -10px;

}

.menu-list {
    list-style: none;
    display: flex;
    gap: 35px; /* Уменьшили расстояние между пунктами меню */
    margin: 0;
    padding: 0;
    justify-content: center; /* Выравнивание пунктов меню по центру */

}

.menu-item {
    text-align: center; /* Выравнивание текста по центру внутри каждого пункта */
}

.menu-item a {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Merriweather-BlackItalic.ttf', sans-serif;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос текста внутри ссылки */
    border: 4px solid #1c847a; /* Обводка */
    border-radius: 20px; /* Закругленные края */
    transition: border-bottom 0.3s ease;
    box-shadow: 0 0 5px rgb(167, 232, 226); /* Тень */
    padding: 5px;

}

.menu-item a:hover {
    background-color: #1c847a; /* Цвет фона при наведении */
}

.menu-item button {
    font-size: 10px;
    font-weight: bold;
    font-family: 'Merriweather-BlackItalic.ttf', sans-serif;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    color: #10463e;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос текста внутри ссылки */
    border: 4px solid #1c847a; /* Обводка */
    border-radius: 20px; /* Закругленные края */
    transition: border-bottom 0.3s ease;
    box-shadow: 0 0 5px rgb(167, 232, 226); /* Тень */
    padding: 5px;

}

.menu-item button:hover {
    background-color: #1c847a; /* Цвет фона при наведении */
}




/* Обе секции */
.main-container {
    display: flex;
    flex: 1 9; /* Ширина колонок */
    max-width: 100%; /* Ограничиваем ширину контейнера */
    align-items: stretch; /* Растягиваем на всю высоту */
}

/* Левая секция */
.left-section {
    font-family: 'Merriweather-BlackItalic', sans-serif;
    float: left; /* Секция будет слева */
    max-width: 460px; /* Максимальная ширина контейнера */
    padding: 0 50px 0 0;
    margin: 10px 0 0 20px;

}

/* Правая секция */
.right-section {
    font-family: 'Merriweather-BlackItalic', sans-serif;
    float: left; /* Секция будет слева */
    box-sizing: border-box;
    max-width: 100%; /* Максимальная ширина контейнера */
    padding: 10px 30px 0 40px;
    margin: 0 20px 0 0;
    /*   dodelat  */
}

.title {
    font-family: 'Merriweather-BoldItalic', sans-serif; /* Указываем шрифт Corbel */
    font-weight: bold; /* Жирный шрифт */
    font-size: 24px; /* Размер шрифта */
    line-height: 1.2; /* Межстрочное расстояние */
    color: whitesmoke;
    margin: 20px 0 40px 0;
    text-align: left; /* Выравнивание по левому краю (или центр, если нужно) */
}

.background-block {
    max-width: 100%;
    background-color: darkslategrey;
    opacity: 75%;
    box-shadow: 0 0 10px rgb(167, 232, 226); /* Уменьшаем тень */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    box-sizing: border-box !important;
}

/* Стили для текста */
.main-text {
    font-size: 14px;
    box-sizing: border-box;
    color: white;
    line-height: 1.5;
}

/* Вертикальная полоса слева */
.vert_stripe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px; /* Толщина полосы */
    background-color: #10463e; /* Цвет полосы */
}

.about_me {
    text-align: center;
}

.profile-img {
    width: 300px;
    height: 100px;
    margin: auto;
}

.profile-image {
    width: 100%;
    height: auto;
}

.profile-prof h1 {
    font-family: 'Merriweather-BlackItalic', sans-serif;
    font-size: 40px;
    color: #1fe1c9; /* Цвет шрифта, можно выбрать другой */
    margin: 250px 0 10px 0;
    }

.profile-full_name p {
    font-family: 'Merriweather-BoldItalic', sans-serif;
    font-size: 25px;
    color: #ffffff; /* Цвет шрифта, можно выбрать другой */
    text-align: center; /* Выравнивание по левому краю (или центр, если нужно) */

}

/* Стили для блока образования */
.block-edu {
    height: auto;
    margin: 10px 5px 10px 20px;
    padding: 25px 5px 25px 10px;
    position: relative; /* Для позиционирования полосы */
    white-space: nowrap;
}

/* Стили для года образования*/
.years-edu {
    display: inline-block;
    padding: 10px;
    border: 2px solid #10463e; /* Обводка */
    background-color: #1c847a;
    border-radius: 15px; /* Закругленные края */
    font-weight: bold;
    color: #ffffff; /* Цвет текста */
    margin-bottom: 5px; /* Отступ снизу */
    margin-left: 25px;
    text-align: center;
}

/* Стили для каждого блока образования */
.edu-basically,
.edu-add {
    position: relative;
    margin: 0 0 20px 0; /* Отступ между блоками */
}

.text p {
    margin: 20px;
}

/* Убираем маркеры списка и отступы */
#technical-skills-list {
    height: auto;
    list-style-type: none; /* Убираем маркеры (точки) */
    padding: 25px; /* Убираем отступ слева */
    margin: 0; /* Убираем внешние отступы */
}

/* Стили для элементов списка технических навыков */
.tech-skill-item {
    display: flex; /* Оставляем flex для прогресс-бара */
    align-items: center;
    margin: 0 25px 10px 25px;
}

/* Стили для софт-скиллов и хард-скиллов */
#soft-skills-list,
#hard-skills-list {
    list-style-type: none; /* Убираем стандартные маркеры */
    padding: 25px; /* Убираем отступ слева */
    margin: 0; /* Убираем внешние отступы */
}

/* Стили для элементов списка софт-скиллов */
.soft-skill-item {
    display: block; /* Убираем flex, чтобы маркеры отображались */
    margin-bottom: 10px; /* Отступ между элементами */
    position: relative; /* Для псевдоэлемента */
    padding-left: 20px; /* Отступ для маркера */
}

/* Стили для элементов списка хард-скиллов */
.hard-skill-item {
    display: block; /* Убираем flex, чтобы маркеры отображались */
    margin-bottom: 10px; /* Отступ между элементами */
    position: relative; /* Для псевдоэлемента */
    padding-left: 20px; /* Отступ для маркера */
}

/* Добавляем маркеры вручную с помощью псевдоэлементов */
.soft-skill-item::before,
.hard-skill-item::before {
    content: '•'; /* Маркер в виде точки */
    position: absolute;
    left: 0;
    color: honeydew; /* Цвет маркера */
    font-size: 18px; /* Размер маркера */
}

/* Стили для названия навыка */
.skill-name {
    flex: 1;

    color: honeydew; /* Цвет текста */
    margin-right: 10px; /* Отступ между названием и прогресс-баром */
}

/* Стили для контейнера прогресс-бара */
.progress-bar {
    width: 95px; /* Ширина прогресс-бара */
    height: 12px; /* Высота прогресс-бара */
    background-color: #000000; /* Цвет фона */
    border-radius: 5px; /* Закругленные углы */
    overflow: hidden; /* Скрываем выходящие за пределы элементы */
    margin-right: 25px; /* Отступ справа */
}

/* Стили для заполненной части прогресс-бара */
.progress-bar-inner {
    height: 100%;
    background-color: #1fe1c9; /* Цвет заполнения */
    border-radius: 5px; /* Закругленные углы */
}

/* Стили для блока контактов */
.contacts {
    display: flex;
    flex-direction: column; /* Элементы внутри блока располагаются вертикально */
    text-align: left; /* Выравнивание текста по левому краю */
}

.contacts-container {
    display: flex;
    gap: 70px; /* Расстояние между столбцами */
    width: 100%;
}


.icons-list {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Убираем внешние отступы у списка */
}

.icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Отступ между элементами списка (можно уменьшить) */
}

.icon-item img {
    width: 40px; /* Размер иконок */
    height: 40px;
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.icon_git {
    filter: invert(100%); /* Полная инверсия цветов */
}

/* Стили для текста рядом с иконками */
.icon-item p {
    margin: 0; /* Убираем отступы у текста */

    color: honeydew; /* Цвет текста */
}

/* Стили для ссылок иконок */
.icon-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Наследует цвет текста */
}

/* Стили для Обо мне */
.me-text p {
    height: auto;
    padding: 35px;
}

/* Стили для Опыта */
.exp-container {
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box !important;
}

.exp-container-list {
    display: flex;
    flex-direction: column;
    gap: 70px; /* Расстояние между блоками */
}

.exp-container-item {
    width: 100%;
    box-sizing: border-box;
}

/* Стили для шапки опыта */
.top-title {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between; /* Распределяем пространство между элементами */
    gap: 10px; /* Расстояние между элементами */
    padding: 0 5px; /* Отступы слева и справа */
    box-sizing: border-box;
    width: 100%; /* Занимаем всю ширину */
}

/* Название профессии */
.title-profession {

    min-width: 200px; /* Минимальная ширина */
    margin: 0; /* Убираем отступы */
    text-align: left; /* Выравниваем текст по левому краю */
}

.title-profession p {
    font-size: 18px;
    margin: 20px 0 0 20px;
    white-space: nowrap;
    color: aquamarine;
}

/* Логотип */
.logo-form {
    flex: 0 0 auto; /* Логотип не растягивается и не сжимается */
    max-width: 200px; /* Уменьшаем ширину логотипа */
    width: 100%;
    text-align: center;
    margin: 0; /* Убираем отступы */
}

.logo-form img {
    width: 50%;
    height: auto;
    max-width: 200px; /* Ограничение размера логотипа */
}

/* Контейнер для даты опыта */
.years-exp {
    flex: 0 0 auto; /* Дата опыта не растягивается и не сжимается */
    white-space: nowrap;
    border: 2px solid #10463e;
    background-color: #1c847a;
    border-radius: 15px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px; /* Уменьшаем отступы в контейнере */
    text-align: center;
    margin: 5px 0 0 0;
}

.years-exp p.main-text {
    font-size: 11px;
    margin: 0;
}

/* Основной текст опыта */
.prof-text p.main-text {
    padding: 25px 45px 25px 45px;
    box-sizing: border-box;

}

/* Стили для Сертификаты */
.certificates {
    margin-top: 100px;
}

.cert-all {
    padding: 35px 0 15px 30px;
}

.cert-add {
    position: relative;
}

.vert_stripe_cer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px; /* Толщина полосы */
    background-color: #10463e; /* Цвет полосы */
}

/* Стили для ссылок сертификаты */
.cert-item a {
    text-decoration: none;
}

/* Основной текст сертификата */
.cert-item p {
    margin: 5px 0 35px 25px;
}

/* стили года сертификата*/
.years-cer {
    display: inline-block;
    padding: 10px;
    border: 2px solid #10463e; /* Обводка */
    background-color: #1c847a;
    border-radius: 15px; /* Закругленные края */
    font-size: 12px;
    font-weight: bold;
    color: #ffffff; /* Цвет текста */
    margin-bottom: 8px; /* Отступ снизу */
    margin-left: 18px;
}

.cert-text {
    color: honeydew;
    line-height: 1.5;
    margin: 0 0 10px 25px;
    font-size: 12px;
}

/* Стили для блока "Достижения" */
.achievements {
    margin-top: 100px;
}

.achiv-column {
    padding: 25px 5px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.achiv-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.achiv-item {
    display: flex;
    flex-direction: column; /* Надписи под иконками */
    align-items: center; /* Выравнивание по центру */
    width: calc(33.33% - 20px); /* Три иконки в строке */
    margin-bottom: 10px;
}

.achiv-item img {
    width: 60px; /* Большие иконки */
    height: auto;
    margin-bottom: 10px; /* Отступ между иконкой и текстом */
}

.achiv-item p {

    color: honeydew;
    margin: 0;
    text-align: center; /* Текст по центру */
}

/* Стили для блока "Рекомендации" */
.recommendations {
    margin-top: 100px;
}

.recom-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    padding: 25px 5px 15px 0;
}

.recom-list::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 10px;
    bottom: 10px;
    width: 3px;
    background-color: #54988d;
}

.recom-list li {
    flex: 1;
    text-align: center;
    list-style-type: none;
}

.recom-list .text {
    line-height: 1.5;
}

/* Стили для кнопок */
.buttons {
    margin-top: 50px;
}

.block-buttons {
    display: flex;
    align-items: center;
    justify-content: center; /* Выравнивание по горизонтали */
    width: 100%;
    gap: 25%;
}

/* Стили для кнопок */
.chat_telegram, .download_resume {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Merriweather-BoldItalic', sans-serif; /* Ваш шрифт */
    color: white;
    background-color: #54988d;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.chat_telegram:hover, .download_resume:hover {
    background-color: darkcyan;
}

.download_resume p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

#main-footer p {
    color: white;
    font-size: 10px;
    text-align: right;
}

/* Основные стили для Модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 1000; /* Высокий z-index, чтобы окно было поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* На всю ширину экрана */
    height: 100%; /* На всю высоту экрана */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
    justify-content: center;
    align-items: center;

}

/* Стили для содержимого Модального окна */
.modal-content {
    background-color: rgb(33, 47, 46); /* Цвет фона */
    padding: 20px; /* Внутренние отступы */
    margin: 200px auto;
    border-radius: 25px; /* Закруглённые углы */
    width: 700px; /* Ширина модального окна */
    max-width: 90%; /* Максимальная ширина (чтобы окно не выходило за пределы экрана) */
    min-height: 300px; /* Минимальная высота */
    box-shadow: 0 0 20px rgb(167, 232, 226); /* Тень */
    position: relative; /* Для позиционирования внутренних элементов */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
}

/* Стили для кнопки закрытия */
.close {
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    font-size: 18px; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде указателя */
    color: honeydew; /* Цвет иконки */
}

.title-modal {
    color: honeydew;
}

.close:hover {
    color: #1fe1c9; /* Цвет иконки при наведении */
}

/* Стили для формы внутри модального окна */
#telegramForm {
    width: 100%; /* Форма занимает всю ширину модального окна */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование элементов формы */
}

/* Стили для полей ввода */
#telegramForm input,
#telegramForm textarea {
    width: 80%; /* Ширина полей ввода */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 15px; /* Отступ снизу */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Закруглённые углы */
    font-size: 18px; /* Размер шрифта */
}

/* Стили для текстового поля */
#telegramForm textarea {
    resize: none; /* Разрешаем изменение высоты только по вертикали */

}

/* Стили для кнопки отправки */
#telegramForm button {
    width: 50%; /* Ширина кнопки */
    padding: 10px; /* Внутренние отступы */
    background-color: #219a8d; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 15px; /* Закруглённые углы */
    cursor: pointer; /* Курсор в виде указателя */
    font-size: 16px; /* Размер шрифта */
    margin-top: 10px; /* Отступ сверху */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

#telegramForm button:hover {
    background-color: #10463e; /* Цвет фона при наведении */
}


/* Уменьшаем размер модального окна */
.modal-content {
    width: 90%; /* Занимаем 90% ширины экрана */
    margin: 100px auto; /* Уменьшаем отступы */
}

/* Уменьшаем размер текста в модальном окне */
.title-modal {
    font-size: 18px; /* Уменьшаем размер заголовка */
}

/* Уменьшаем размер полей ввода в модальном окне */
#telegramForm input,
#telegramForm textarea {
    width: 90%; /* Занимаем 90% ширины */
    font-size: 14px; /* Уменьшаем размер текста */
}

/* Уменьшаем размер кнопки отправки */
#telegramForm button {
    width: 60%; /* Уменьшаем ширину кнопки */
    font-size: 14px; /* Уменьшаем размер текста */
}


/* Медиа-запрос для устройств с шириной экрана до 414px */
@media (max-width: 414px) {
    .exp-container-item .top-title {
        flex-direction: column !important; /* Элементы в одну колонку */
        align-items: flex-start !important; /* Выравниваем по левому краю */
        gap: 5px !important; /* Уменьшаем расстояние между элементами */
        padding: 0 10px !important; /* Уменьшаем отступы слева и справа */
    }

    .exp-container-item .title-profession {

        margin-bottom: 5px !important; /* Добавляем отступ снизу */
    }

    .exp-container-item .logo-form {
        max-width: 80px !important; /* Уменьшаем ширину логотипа */
        margin-bottom: 5px !important; /* Добавляем отступ снизу */
    }

    .exp-container-item .years-exp {
        margin-top: 5px !important; /* Добавляем отступ сверху */
    }

    .years-exp {
        margin-top: 5px; /* Добавляем отступ сверху */
    }

    .prof-text {
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .top-title {
        flex-direction: row;
        flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
        gap: 5px; /* Уменьшаем расстояние между элементами */
    }

    .title-profession {
        flex: 1 1 100%; /* Название профессии занимает всю ширину */
        text-align: center; /* Центрируем текст */
        margin-bottom: 10px; /* Добавляем отступ снизу */
    }

    .title-profession p.main-text {
        font-size: 19px;
    }

    .logo-form {
        margin: -150px 0 0 80px;
    }

    /* Стили для логотипа */
    .logo-form img {
        width: 60%; /* Увеличиваем логотип на больших экранах */
        margin: 50px 0 0 0;
        z-index: -900;
    }

    .years-exp {
        text-align: center; /* Центрируем текст */
        margin: -35px 0 30px 200px;
    }

    .prof-text {
        margin-left: 30px;
    }

    .certificates {
        margin-top: 80px;
    }
}

/* Медиа-запрос для устройств с шириной экрана до 768px (мобильные устройства) */
@media (max-width: 768px) {
    /* Стили для хедера */
    .header {
        padding: 10px; /* Уменьшаем отступы */
    }

    /* Убираем фоновое изображение или уменьшаем его */
    .background-fon img {
        width: 100%; /* Растягиваем на всю ширину */
        margin: 0; /* Убираем отступы */
    }

    /* Убираем float и делаем секции в одну колонку */
    .main-container {
        flex-direction: column; /* Левая и правая секции в одну колонку */
    }

    .left-section, .right-section {
        float: none; /* Убираем float */
        max-width: 100%; /* Занимаем всю ширину */
        margin: 0; /* Убираем отступы */
        padding: 10px; /* Добавляем небольшой отступ */
    }

    /* Расположение меню */
    .menu-container {
        display: flex;
        align-items: center; /* Выравниваем элементы по вертикали */
        justify-content: center; /* Центрируем элементы по горизонтали */
    }

    .menu-list {
        display: grid; /* Используем grid для создания двух столбиков */
        grid-template-columns: repeat(2, 1fr); /* Два столбика */
        gap: 10px; /* Расстояние между элементами */
        width: 100%; /* Занимаем всю ширину */
    }

    .menu-item {
        flex: 1 1 45%; /* Каждый элемент занимает 45% ширины */
        text-align: center;
    }

    .menu-item a {
        font-size: 10px; /* Уменьшаем размер шрифта */
        padding: 5px; /* Уменьшаем отступы */
        display: block; /* Ссылки занимают всю ширину */
    }

    /* Стили для .top-title */
    .top-title {
        flex-direction: column; /* Элементы в одну колонку */
        justify-content: center;
        align-items: flex-start; /* Выравниваем по левому краю */
        gap: 5px; /* Уменьшаем расстояние между элементами */
    }

    .title-profession {

        text-align: left; /* Центрируем текст */
        margin: 0 0 0 0;
    }

    .title-profession p.main-text {
        font-size: 16px; /*  размер шрифта */
        white-space: normal; /* Разрешаем перенос текста */
    }

    .logo-form {
        margin: -100px 0 0 110px;
    }

    /* Стили для логотипа */
    .logo-form img {
        width: 60%; /* Увеличиваем логотип на больших экранах */
        margin: 50px 0 0 0;
        z-index: -900;
    }

    .years-exp {
        text-align: center; /* Центрируем текст */
        margin: -35px 0 30px 300px;
    }

    .prof-text p.main-text {
        padding: 0 15px 20px 15px; /* Уменьшаем отступы */
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

    .certificates {
        margin-top: 80px;
    }

    .about_me-container {
        margin-top: 50px;
    }

    /* Уменьшаем шрифты для мобильных устройств */
    .title {
        font-size: 20px; /* Уменьшаем размер заголовка */
        margin: 50px 0; /*  отступы */
    }

    .main-text {
        font-size: 12px; /* Уменьшаем размер текста */
    }

    .me-text p.main-text {
        font-size: 14px;
    }


    /* Стили для контейнера с датами */
    .years-container {
        max-width: 120px; /* Уменьшаем ширину контейнера */
        padding: 3px; /* Уменьшаем отступы */
    }

    .years-container p.main-text {
        font-size: 0.8em; /* Уменьшаем размер текста */
    }


    /* Уменьшаем размер иконок и текста в контактах */
    .icon-item img {
        width: 30px; /* Уменьшаем размер иконок */
        height: 30px;
    }

    .icon-item p {
        font-size: 12px; /* Уменьшаем размер текста */
    }

    /* Уменьшаем размер кнопок */
    .chat_telegram, .download_resume {
        font-size: 14px; /* Уменьшаем размер текста */
        padding: 8px 16px; /* Уменьшаем отступы */
    }

    /* Уменьшаем размер модального окна */
    .modal-content {
        width: 90%; /* Занимаем 90% ширины экрана */
        margin: 100px auto; /* Уменьшаем отступы */
    }

    /* Уменьшаем размер текста в модальном окне */
    .title-modal {
        font-size: 18px; /* Уменьшаем размер заголовка */
    }

    /* Уменьшаем размер полей ввода в модальном окне */
    #telegramForm input,
    #telegramForm textarea {
        width: 90%; /* Занимаем 90% ширины */
        font-size: 14px; /* Уменьшаем размер текста */
    }

    /* Уменьшаем размер кнопки отправки */
    #telegramForm button {
        width: 60%; /* Уменьшаем ширину кнопки */
        font-size: 14px; /* Уменьшаем размер текста */
    }

    .block-edu {
        font-size: 1rem; /* Уменьшаем размер шрифта */
        margin: 5px; /* Уменьшаем отступы */
        padding: 10px; /* Уменьшаем отступы */
    }

    .years-edu {
        font-size: 0.9rem; /* Уменьшаем размер шрифта */
        padding: 5px; /* Уменьшаем отступы */
        margin-left: 5px; /* Уменьшаем отступы */
    }

    .certificates {
        font-size: 1rem; /* Уменьшаем размер шрифта */
        margin-top: 20px; /* Уменьшаем отступы */
    }

    .cert-item p {
        font-size: 0.9rem; /* Уменьшаем размер шрифта */
        margin: 5px 0 20px 15px; /* Уменьшаем отступы */
    }
}

@media (min-width: 968px) {
    .logo-form {
        margin: 15px 250px 10px 0;
    }

    .logo-form img {
        width: 40%; /* Увеличиваем логотип на больших экранах */
        margin: 0 0 0 -150px;
        z-index: -1000;
    }

    .years-exp {
        text-align: center; /* Центрируем текст */
        margin: 0 0 0 -380px;
    }
}

@media (min-width: 1200px) {
    .logo-form {
        margin: 0 0 0 -370px;
    }

    .logo-form img {
        width: 70%; /* Увеличиваем логотип на больших экранах */
        margin: 0 0 0 10px;
        z-index: -400;
    }

    .years-exp {
        text-align: center; /* Центрируем текст */
        margin: 10px 0 0 -300px;
    }
}

@media (min-width: 1350px) {
    .logo-form img {
        width: 70%; /* Увеличиваем логотип на больших экранах */
        margin: 0 0 0 10px;
        z-index: -400;
    }

    .years-exp {
        text-align: center; /* Центрируем текст */
        margin: 10px 0 0 -30px;
    }
}

@media (min-width: 1500px) {
    .logo-form img {
        width: 100%; /* Увеличиваем логотип на больших экранах */
        margin: 0 0 0 0;
        z-index: -800;
    }

    .years-exp {
        text-align: center; /* Центрируем текст */
        margin: 0 0 0 0;
    }
}
