* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Это поможет избежать ошибок с размерами */
}

body {
  background-color: rgb(247, 218, 130);
  font-family: 'Merriweather-Italic.ttf', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: 'Merriweather-BlackItalic.ttf', sans-serif; /* Указываем шрифт Corbel */
  font-weight: bold; /* Жирный шрифт */
  font-size: 30px; /* Размер шрифта */
  line-height: 1.2; /* Межстрочное расстояние */
  color: #333;
  margin-bottom: 20px; /* Отступ снизу */
  text-align: left; /* Выравнивание по левому краю (или центр, если нужно) */
}

.logo {
  width: 50px;
  height: auto;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap; /* Не переносить секции */
  padding: 20px;
}

.background-block {
  background-color: rgb(238, 233, 227);
}

/* Левая секция */
.left-section {
  width: 36%;
  float: left; /* Секция будет слева */
  margin: 10px;
  background-color: rgb(252, 249, 240);
  padding: 20px;
  height: 100vh; /* Высота секции на всю страницу */

}

.about_me {
  text-align: center;

}

.profile-img {
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

}

.profile-image {
  width: 100%;
  height: auto;
}

.profile-prof {
  font-family: 'Merriweather-BlackItalic.ttf', sans-serif;
  font-size: 45px;
  color: #000055; /* Цвет шрифта, можно выбрать другой */
  margin-bottom: 20px; /* Отступ снизу */
  margin-top: 250px;
}

.profile-full_name {
  font-family: 'Merriweather-BoldItalic.ttf', sans-serif;
  font-size: 35px;
  color: #000055; /* Цвет шрифта, можно выбрать другой */
  text-align: center; /* Выравнивание по левому краю (или центр, если нужно) */
  margin-bottom: 50px;
}

.block-edu{
  width: 100%;
  height: auto;
}
/* Правая секция */
.right-section {
  width: 60%;
  float: left; /* Секция будет слева */
  margin: 10px;
  background-color: rgb(252, 249, 240);
  padding: 20px;
  height: 100vh; /* Высота секции на всю страницу */
}

.list-icons img {
  width: 30px; /* Задаем ширину иконки */
  height: 30px; /* Задаем высоту иконки */
}
















/* Когда ширина экрана меньше 768px, секции уменьшаются */
@media (max-width: 500px) {
  .main {
    flex-direction: column; /* Секции будут расположены одна под другой */
  }

  .left-section, .right-section {
    width: 100%; /* Секции будут по 100% ширины */
    margin: 10px 0; /* Убираем боковые отступы */
  }
}


.footer {
  text-align: left;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
